@{
    ViewBag.Title = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <!--Test for header & footer från "_Layout.cshtml"-->
        <p>Poster endast för test</p>
        <img src="~/img/Poster/American Beauty.jpg" width="340" height="500" />

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
