<form method="get" asp-controller="MovieSearch" asp-action="SearchResult">
    <div class="form-group ml-2">
        <div class="input-group">
            <input type="search" class="form-control  pt-0 pb-0 pl-1 pr-1" name="title" />
            <span class="input-group-append">
                <button class="museofont btn btn-info pt-0 pb-0 pl-1 pr-1">Search</button>
            </span>
        </div>
    </div>
</form>