<form method="get" asp-controller="MovieSearch" asp-action="SearchResult" class="form-inline">
    <div class="md-form my-0 input-group">
        <input class="form-control" type="text" placeholder="Search a movie title..." aria-label="Search">
        <span class="input-group-append text-nowrap">
            <button class="museofont btn btn-info">Search</button>
        </span>
    </div>
</form>