@model IEnumerable<RateMovieViewModel>

<h3 class="text-info">Rated Movies</h3>

@foreach (var movie in Model)
{
    <div class="border rounded border-secondary m-1 p-1">
        <div class="d-inline">
            <h5>
                @movie.Movie.Title
                <span class="text-muted">(@movie.Movie.Year)</span>
                <div class="d-inline justify-content-end">
                    <strong class="text-info ">@movie.UserRating/10</strong>
                </div>
                
                
            </h5>
            <p>@movie.ReviewText</p>
        </div>
    </div>
}

