@model IEnumerable<RateMovieViewModel>

@foreach (var review in Model)
{
    <div>
        <b class="bebafont colordark font24">@review.Movie.Title</b>
        <p class="btn btn-info rounded-circle font24 colorlight bebafont">@review.UserRating</p>        
        <p class="museofont colordark font24">By @review.UserName</p>
    </div>
}