@model IEnumerable<RateMovieViewModel>

@foreach (var review in Model)
{
    <div>
        <text class="bebafont colordark font24">@review.Movie.Title 
        <button type="button" class="btn btn-info rounded-circle btn-circle btn-sm colorlight bebafont">@review.UserRating</button></text>
        <br /><text class="museofont colordark font22">By @review.UserName</text>
    </div>
}