@model ConfirmEmailViewModel
@{
    ViewData["Title"] = "Confirm email";
}

    <div class="colorlightbg colordark rounded m-2">

        <h1>@ViewData["Title"]</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>


