@{
    ViewData["Title"] = "Forgot password confirmation";
}

    <div class="dnf_content">

        <h1>@ViewData["Title"]</h1>
        <p>
            If we found an account associated with that email address,
            we've sent password reset instructions to the email
            address on the account.
        </p>
        <p>
            Still having trouble logging in? <a href="#">Contact Support.</a>
        </p>
    </div>



