@model MyAccountViewModel
    <div class="container">
        <h1>Welcome to your account @Model.User.UserName</h1>

        <hr />
        <a class="btn btn-info" asp-action="EditUser" asp-route-id="@Model.User.Id">Edit profile</a>
        
    </div>