@model MyAccountViewModel

<section id="section_myAccount"
    <div class="container-fluid mx-0">
        <h1 class="display-4 text-center text-white pt-3">Welcome to your account @Model.UserName</h1>
    </div>
    <div>
        <a class="btn btn-info" asp-action="EditUser">Edit profile</a>
    </div>
</section> 