@using System.Security.Claims
@using System.Threading.Tasks
@using DotNetflix.Web.Auth
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<ApplicationUser> SignInManager
@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] DotNetflix</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/CustomStyling.css" rel="stylesheet" />
</head>

<body class="bg-dark">
    <!--Header-->
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark flex-column">
            <div class="w-100 d-flex">
                <!--Logo DOTNETFLIX-->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="img-fluid" src="~/img/Logo/DotNetflixLogo.png" alt="netflix-font" border="0">
                </a>
                <!-- END Logo-->
                <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse pr-0 mr-auto w-100" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item bebafont font30">
                        <a class="nav-link text-nowrap colorlight" asp-area="" asp-controller="Home"
                           asp-action="Movies">Movies</a>
                    </li>
                    <li class="nav-item bebafont font30 ">
                        <a class="nav-link text-nowrap colorlight" asp-area="" asp-controller="Movie"
                           asp-action="Genres">Genres</a>
                    </li>
                    <li class="nav-item bebafont font30">
                        <a class="nav-link text-nowrap colordark" asp-area="" asp-controller="Home"
                           asp-action="Reviews">Reviews</a>
                    </li>
                    <li class="nav-item bebafont font30">
                        <a class="nav-link text-nowrap colordark" asp-area="" asp-controller="Home"
                           asp-action="Lists">Wishlists</a>
                    </li>
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item bebafont font30">
                            <a class="nav-link text-nowrap colormedium" id="registerLink" asp-controller="Account"
                               asp-action="Register">Register</a>
                        </li>
                    }

                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                    {
                        @await Component.InvokeAsync("AdminMenu")
                    }
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    @await Component.InvokeAsync("Login")
                </ul>
                @await Component.InvokeAsync("SearchBar")
            </div>
        </nav>
    </header>
    <!--END Header-->

    <div class="container ml-auto mr-auto l-50 w-95 pl-0 siteborder min-vh-100">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Footer-->
    <footer class="position-relative z-index-10 d-print-none">
        
        <!-- Copyright section of the footer-->
        <div class="colorlight">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center text-md-left">
                        <p class="text-sm mb-md-0 museofont">© 2020 DOTNETFLIX.  All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer end-->

    <!--Dependencies-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
