
@{
    ViewData["Title"] = "Genres";
}

    <div class="container dnf_content genres">
        <h1>Genres</h1>
        <div class="row alternative">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="4">
                        <img src="~/img/Genres/Action-ws-450w.jpg" alt="Action" style="width:100%">
                        <h3 class="dnf_genretitle">Action</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListAdult" asp-route-isadult="true">
                        <img src="~/img/Genres/Adult-ws-450w.jpg" alt="Adult" style="width:100%">
                        <h3 class="dnf_genretitle">Adult</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="6">
                        <img src="~/img/Genres/Adventure-ws-450w.jpg" alt="Adventure" style="width:100%">
                        <h3 class="dnf_genretitle">Adventure</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="1">
                        <img src="~/img/Genres/Drama-ws-450w.jpg" alt="Drama" style="width:100%">
                        <h3 class="dnf_genretitle">Drama</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="2">
                        <img src="~/img/Genres/Documentary-ws-450w.jpg" alt="Documentary" style="width:100%">
                        <h3 class="dnf_genretitle">Documentary</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="7">
                        <img src="~/img/Genres/Romance-ws-450w.jpg" alt="Romance" style="width:100%">
                        <h3 class="dnf_genretitle">Romance</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="3">
                        <img src="~/img/Genres/Comedy-ws-450w.jpg" alt="Comedy" style="width:100%">
                        <h3 class="dnf_genretitle">Comedy</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="8">
                        <img src="~/img/Genres/Horror-ws-450w.jpg" alt="Horror" style="width:100%">
                        <h3 class="dnf_genretitle">Horror</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="9">
                        <img src="~/img/Genres/Crime-ws-450w.jpg" alt="Crime" style="width:100%">
                        <h3 class="dnf_genretitle">Crime</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="10">
                        <img src="~/img/Genres/Animation-ws-450w.jpg" alt="Animation" style="width:100%">
                        <h3 class="dnf_genretitle">Animation</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="11">
                        <img src="~/img/Genres/Fantasy-ws-450w.jpg" alt="Fantasy" style="width:100%">
                        <h3 class="dnf_genretitle">Fantasy</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="20">
                        <img src="~/img/Genres/Biography-ws-450.jpg" alt="Biography" style="width:100%">
                        <h3 class="dnf_genretitle">Biography</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="19">
                        <img src="~/img/Genres/Family-ws-450w.jpg" alt="Family" style="width:100%">
                        <h3 class="dnf_genretitle">Family</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="25">
                        <img src="~/img/Genres/Film-Noir-ws-450w.jpg" alt="Film-Noir" style="width:100%">
                        <h3 class="dnf_genretitle">Film-Noir</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="17">
                        <img src="~/img/Genres/History-ws-450w.jpg" alt="History" style="width:100%">
                        <h3 class="dnf_genretitle">History</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="24">
                        <img src="~/img/Genres/Musical-ws-450w.jpg" alt="Musical" style="width:100%">
                        <h3 class="dnf_genretitle">Musical</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="23">
                        <img src="~/img/Genres/Music-ws-450w.jpg" alt="Music" style="width:100%">
                        <h3 class="dnf_genretitle">Music</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="12">
                        <img src="~/img/Genres/Mystery-ws-450w.jpg" alt="Mystery" style="width:100%">
                        <h3 class="dnf_genretitle">Mystery</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="15">
                        <img src="~/img/Genres/Sci-Fi-ws-450w.jpg" alt="Sci-Fi" style="width:100%">
                        <h3 class="dnf_genretitle">Sci-Fi</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="16">
                        <img src="~/img/Genres/Sport-ws-450w.jpg" alt="Sport" style="width:100%">
                        <h3 class="dnf_genretitle">Sport</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="13">
                        <img src="~/img/Genres/Thriller-ws-450w.jpg" alt="Thriller" style="width:100%">
                        <h3 class="dnf_genretitle">Thriller</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="21">
                        <img src="~/img/Genres/War-ws-450w.jpg" alt="War" style="width:100%">
                        <h3 class="dnf_genretitle">War</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a asp-controller="Movie" asp-action="ListByGenre" asp-route-genreid="14">
                        <img src="~/img/Genres/Western-ws-450w.jpg" alt="Western" style="width:100%">
                        <h3 class="dnf_genretitle">Western</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="#">
                        <img src="~/img/Genres/Random-ws-450w.jpg" alt="Random" style="width:100%">
                        <h3 class="dnf_genretitle">Random</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
