@font-face {
    font-family: 'bebasneue-light';
    src: url('../lib/font-awesome/webfonts/bebasneue-light.ttf') format('truetype');
}
@font-face {
    font-family: 'bebasneue-regular';
    src: url('../lib/font-awesome/webfonts/bebasneue-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'bebasneue-thin';
    src: url('../lib/font-awesome/webfonts/bebasneue-thin.ttf') format('truetype');
}
@font-face {
    font-family: 'museosans_500';
    src: url('../lib/font-awesome/webfonts/museosans_500.otf') format('opentype');
}
@font-face {
    font-family: 'museosans-100';
    src: url('../lib/font-awesome/webfonts/museosans-100.otf') format('opentype');
}
.bebafont {
    font-family: 'bebasneue-regular';
}
.bebafont-light {
    font-family: 'bebasneue-light';
}
.museofont {
    font-family: 'museosans-100';
}
.font10 {
    font-size: 10pt !important;
}
.font20 {
    font-size: 20pt !important;
}
.font22 {
    font-size: 22pt !important;
}
.font30 {
    font-size: 30pt;
}
.font40 {
    font-size: 40pt;
}
.font24 {
    font-size: 24pt !important;
}
.colorlight {
    color: #F5F4E1 !important;
}
:root {
    --colorlightbg: #F5F4E1;
}
:root {
    --colordark: #686460 !important;
}
.colormedium {
    color: #85967A !important;
}
.colorlight:hover {
    color: #abaa9d !important;
}
.colordark:hover {
    color: #95928f !important;
}
.colormedium:hover {
    color: #a9b5a1 !important;
}
@font-face {
    font-family: 'museosans-100';
    src: url('../lib/font-awesome/webfonts/museosans-100.otf') format('opentype');
}

/* .siteborder = bakgrunden för alla sidors "content". Används i _Layout runt main och @renderbody. */
.siteborder {
    border-style: solid;
    border-color: var(--colordark);
    border-width: 1px;
    border-radius: 5px;
    margin-top: 9em;
}

/* Justera .siteborder vid mindre skärmar så innehållet placeras bra mot navbaren. */
@media (max-width: 992px) {
    .siteborder {
        margin-top: 5em;
    }
}

/* .dnf_content används på de divs som ligger direkt under .siteborder (innehållet innanför ramen) */
.siteborder .dnf_content {
    background-color: var(--colorlightbg);
    color: var(--colordark);
    border-radius: 0.25rem !important;
    margin: 0.5rem !important;
    padding: 0.5rem !important;
}

.dnf_content h1{
    font-family: 'bebasneue-regular';
    font-size: 30pt;
    color: var(--colordark);
}
.dnf_content h2 {
    font-family: 'bebasneue-regular';
    color: var(--colordark);
}
.dnf_content h5 {
    font-family: 'bebasneue-regular';
    color: var(--colordark);
}

.dnf_genretitle {
    font-family: 'bebasneue-regular';
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: center !important;
}

.dnf_movieinfo {
    font-family: 'museosans-100';
    font-size: 10pt !important;
}


.card {
    margin: 0.5rem 0.25rem;
    background-color: var(--colorlightbg);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
    padding: .6rem;
}

.card-title {

    font-family: 'bebasneue-regular';
    font-size: 20pt !important;
}

.card-body a:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.card-text {
    font-family: 'museosans-100';
}

.card-footer {
    border-top: 0px;
    padding: 0.35rem .6rem;
}



p, div {
    font-family: museosans-100;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #5bc0de;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #5bc0de;
    cursor: pointer;
}

